@{
    ViewBag.Title = "Home Page";
}

<h1 style="text-align: center">Welcome to your easy Shopping Navigator!</h1>
<div>

    <h2 style="text-align: center">Make shopping easier by having your list printed by department</h2>

    <a style="text-align: center" href="~/ShoppingList/NewShoppingList">Create New Shopping List</a>
    <p></p>
    <a style="text-align: center" href="~/ShoppingList/GetShoppingLists">Edit Previous Shopping List</a>


</div>