@{
    ViewBag.Title = "Home Page";
}

<h1 style="text-align: center">Welcome to your easy Shopping Navigator!</h1>
<div>

    <h2 style="text-align: center">Make shopping easier by having your list printed by department!</h2>

    <a style="text-align: center" href="~/Product/Products">Let's Go Shopping!</a>


</div>