@model ShoppingNavigatorSolution.Models.Product

    @{
        ViewBag.Title = "Products";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Products</h2>


    @* 3. POSTs the form data to the User/Login action*@
    <form method="post" action="@Url.Action("Products", "Product")">
        <div>
            <p>
                Don't see the product you want? Add it to the list of products!
            </p>
            @Html.TextBoxFor(m => m.Name, new { placeholder = "Add a product" })
            <select name="Department">
                <option value="See All Products">See All Products</option>
                <option value="Alcohol">Alcohol</option>
                <option value="Bakery">Bakery</option>
                <option value="Beverages">Beverages</option>
                <option value="CleaningProducts">Cleaning Products</option>
                <option value="Confectionery">Confectionery</option>
                <option value="Dairy">Dairy</option>
                <option value="Frozen">Frozen</option>
                <option value="Fruit & Veg">Fruit and Veg</option>
                <option value="Grocery">Grocery</option>
                <option value="Grooming Products">Grooming Products</option>
                <option value="Meat">Meat</option>
                <option value="Misc">Misc</option>
                <option value="PetProducts">PetProducts</option>
                <option value="Pharmacy">Pharmacy</option>
            </select>
            <button>Add Product!</button>
        </div>
    </form>
<p></p>

@Html.Action("ProductList", "Product")
